{%extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}


<div class="overall">
    <div class="container-fluid img-fluid text-center landing-page">
        <h1 class="display-1">The ~ Block</h1>
        <p class="land-info">Get to know what is happening in your neighbourhood. Lots of great news & information underway.</p>
        <a href="/accounts/login/"><input type="submit" class= "btn btn-primary mt-3 prof-btn" value="Discover Now">
        </a>
    </div>
</div>


{%endblock%}