<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><strong>THE ~ BLOCK</strong></a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login/">Register/Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hoods">Hoods</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="/admin">Admin</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="">Profile</a>
                </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false" id="navbardrop">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="dropdown-menu">
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/create_hood/">Add Hood</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                            {% else %}
                            <small class="text-center">Please log in</small>
                            <a class="nav-link" href="/accounts/login/">Register/Login</a>
                            {% endif %}
                        </div>
                    </ul>
                </li>
            </ul>
            <form class="d-flex input-group w-auto form-inline" role="search" action="{% url 'search' %}">
                <input type="text" class="form-control" placeholder="Search Business" aria-label="Search" />
                <button class="btn btn-outline-primary" type="submit" data-mdb-ripple-color="dark"><i
                        class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</nav>

