{%extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="container-fluid text-center mt-4">
    <h1>Popular Hoods</h1>
    <small><strong>Some of the hoods. Hop in to some</strong></small>
    <hr>
    <div class="container-fluid mt-3">
        <div class="row">
            {% for hood in hoods %}
            <div class="col-md-4">
                <div class="card-group">
                  <div class="card anime">
                    <img src="{{hood.hood_image.url}}" class="img-fluid" alt="card-img">
                    <div class="card-body">
                        <a href="{%url 'specific_hood' hood.id %}"><p class="name"><strong>{{hood.hood_name}}</strong></p></a>
                        <p class="description">{{hood.description}}</p>
                        <p class="residents">{{hood.members.count}} Member{{hood.members.count|pluralize}}</p>
                        <p class="help-line"><strong>Help-Line:</strong>&nbsp;{{hood.help_line}}</p>
                        {% if request.user.profile.neighbourhood == hood %}
                        <div class="col-sm-6 text-center">
                        <a href="{% url 'leave_hood' hood.id %}" class="btn btn btn-warning mt-3 hoodies">Leave Hood</a>
                        {% elif not request.user.profile.neighbourhood %}
                        <div class="col-sm-6 text-center">
                        <a href="{% url 'join_hood' hood.id %}" class="btn btn btn-primary mt-4 hoodies">Join Hood</a>
                    </div>   
                    {% endif %}
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Posted {{hood.created_on |timesince }}&nbsp;ago</small>
                    </div>
                  </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>



</div>







{% endblock %}